---
layout: omh.njk
title: 988 Resources
---
{% from './_includes/_components.njk' import hero,cards,stats,highlight,accordion,documents  %}


{{ hero({
    title: "988 Resources",
    description:"Help spread the word in your communities about 988. Request free promotional materials today. ",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/mom_son_tablet_home_citizenpublichealth2.jpg?h=b5f6a62e&itok=j5AXKCLO",
    date:"",
    links: [
        {
            text:"Request Materials",
            link:"mailto:Crisis.Initiative@omh.ny.gov",
            arialabel:"Request Materials for printing"
        }
    ]
    })
}}
<section class="nysds-page">

{{
    documents({
        headline:"Promotional Materials",
        description:"",
        documents:[
            {
                link:"https://omh.ny.gov/omhweb/crisis/988-faq-english.pdf",
                text:"English"
            },
            {
                link:"https://omh.ny.gov/omhweb/crisis/988-faq-spanish.pdf",
                text:"Spanish"
            },
            {
                link:"https://omh.ny.gov/omhweb/crisis/988-faq-zho-cn.pdff",
                text:"简体 (Simplified Chinese)"
            }
        ]
    })
}}



<h2>Additional Resources</h2>
<ul>
<li><a href="https://www.samhsa.gov/find-help/988">988 Suicide & Crisis Lifeline | SAMHSA </a></li>
<li><a href="https://www.samhsa.gov/find-help/988/lifeline-timeline"> 988 Suicide & Crisis Lifeline Timeline | SAMHSA (timeline of 988)</a></li>
</ul>

<h2>Contact Us</h2>
Request promotional materials

</section>

