---
layout: omh.njk
title: 988 Resources
---
{% from './_includes/_components.njk' import hero,cards,stats,highlight,accordion  %}


{{ hero({
    title: "988 Resources",
    description:"988 Toolkit, resources, and promotional materials",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/mom_son_tablet_home_citizenpublichealth2.jpg?h=b5f6a62e&itok=j5AXKCLO",
    date:"",
    links: [
        {
            text:"Request Materials",
            link:"#",
            arialabel:"Request Materials for printing"
        }
    ]
    })
}}
<section class="nysds-page">
<h2>Promotional Materials</h2>
Posters/ Flyers
Social Media 

<h2>Additional resources</h2>
<ul>
<li><a href="https://www.samhsa.gov/find-help/988">988 Suicide & Crisis Lifeline | SAMHSA </a></li>
<li><a href="https://www.samhsa.gov/find-help/988/lifeline-timeline"> 988 Suicide & Crisis Lifeline Timeline | SAMHSA (timeline of 988)</a></li>
</ul>

<h2>Contact Us</h2>
Request promotional materials

</section>

