---
layout: omh.njk
title: 988 Resources
---
{% from './_includes/_components.njk' import hero,cards,stats,highlight  %}


{{ hero({
    title: "988 Resources",
    description:"need text ",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/mom_son_tablet_home_citizenpublichealth2.jpg?h=b5f6a62e&itok=j5AXKCLO",
    date:"",
    links: [
        {
            text:"Connect to Help",
            link:"https://988lifeline.org/chat/",
            arialabel:"Connect to help now via the 988 service"
        }
    ]
    })
}}
<section class="nysds-page">
    <h2> About </h2>
</section>