---
permalink: "css/988-theme.css"
---
.hhs-dark {
    background-color: #43285D;
}
.hhs-mid {
    background-color: #8b7f9f;
}
.hhs-light {
    background-color: #d3d5e3;
}
.nysds-page {
    margin: 30px 10%;
}
.nysds-page p {
    font-size: 16px;
}
.nysds-page ul {
    font-size: 16px;
}
{%- include "./_includes/hero/_hero.css" -%}
{%- include "./_includes/cards/_cards.css" -%}
{%- include "./_includes/stats/_stats.css" -%}
{%- include "./_includes/highlight/_highlight.css" -%}
{%- include "./_includes/accordion/_accordion.css" -%}
{%- include "./_includes/documents/_documents.css" -%}