---
layout: omh.njk
title: NYSDS 988 Web Component Page
---

{% from './_includes/_components.njk' import hero, cards  %}


{{ hero({
    title: "988 More than a Number",
    description:"988 is more than just an easy-to-remember number. It is a direct connection to confidential caring support for anyone in mental health distress. ",
    image:"",
    date:"",
    links: [
        {
            text:"First Link",
            link:"https://ny.gov",
            order: 1,
            arialabel:""
        },
        {
            text:"Second Link",
            link:"https://ogs.ny.gov",
            order: 2,
            arialabel:""
        }
    ]
    })
}}



  
{{
    cards({
        heading:"Card area title",
        intro:"Some descriptive text here",
        cards:[
            {
                title:"This goes to another resource",
                content:"A description for this thing",
                link:"https://whitehouse.gov",
                image:"",
                imagealt:"alt text for this image"
            }
        ]
    })
}}
