---
layout: omh.njk
title: NYSDS 988 Web Component Page
---

{% from './_includes/_components.njk' import hero, cards  %}


{{ hero({
    title: "988: We Hear You",
    description:"When you or someone you care about is struggling with mental health – we hear you. Call or text 988 or chat online for the direct connection you need for support. ",
    image:"https://omh.ny.gov/omhweb/bootstrap/img/carousel/transforming-mh-hero.jpg",
    date:"",
    links: [
        {
            text:"Connect to Help",
            link:"https://988lifeline.org/chat/",
            arialabel:"Connect to help now via the 988 service"
        }
    ]
    })
}}




  
{{
    cards({
        heading:"New York 988",
        intro:"",
        cards:[
            {
                title:"What is 988?",
                content:"The 988 Suicide & Crisis Lifeline connects you with trained mental health counselors. It's free, confidential, and available 24/7 in English and Spanish. ",
                link:"/what-is-988",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/phone-emailupdates.png?h=b5f6a62e&itok=On4chFyL",
                imagealt:"hands holding a cell phone"
            },
            {
                title:"Spread the Word",
                content:"Struggling with your mental health is more common than you think. 1 in 4 people deal with a mental health issue at some point during their lifetime. It's time to talk about it.",
                link:"/988-resources",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2023-08/GettyImages-814596806.jpg?h=f5a22d64&itok=Wi91CXDr",
                imagealt:"a notebook with a pen on it"
            }
        ]
    })
}}
