---
layout: omh.njk
title: NYSDS 988 Web Component Page
---

{% from './_includes/_components.njk' import hero  %}


{{ hero({
    title: "988 More than a Number",
    description:"988 is more than just an easy-to-remember number. It is a direct connection to confidential caring support for anyone in mental health distress. ",
    image:"",
    date:"",
    links: [
        {
            text:"First Link",
            link:"https://ny.gov",
            arialabel:""
        },
        {
            text:"Second Link",
            link:"https://ny.gov",
            arialabel:""
        }
    ]
    })
}}


