---
layout: omh.njk
title: What is 988?
---
{% from './_includes/_components.njk' import hero,cards,stats,highlight  %}


{{ hero({
    title: "What is 988?",
    description:"Need description ",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/2022-08/group_linked_Arms_charity_1280.jpg?h=b8ccb851&itok=o5cwV4ni",
    date:"",
    links: [
        {
            text:"Connect to Help",
            link:"https://988lifeline.org/chat/",
            arialabel:"Connect to help now via the 988 service"
        }
    ]
    })
}}

<section class="nysds-page">
    <h2> About </h2>
</section>
