---
layout: omh.njk
title: What is 988?
---
{% from './_includes/_components.njk' import hero,cards,stats,highlight,accordion  %}


{{ hero({
    title: "What is 988?",
    description:"Need description ",
    image:"https://www.ny.gov/sites/default/files/styles/hero_wide/public/2022-08/group_linked_Arms_charity_1280.jpg?h=b8ccb851&itok=o5cwV4ni",
    date:"",
    links: [
        {
            text:"Connect to Help",
            link:"https://988lifeline.org/chat/",
            arialabel:"Connect to help now via the 988 service"
        }
    ]
    })
}}

<section class="nysds-page">
    <h2> About </h2>
        <p>The 988 Suicide & Crisis Lifeline connects you to trained crisis counselors 24/7. They can help anyone thinking about suicide, struggling with substance use, experiencing a mental health crisis, or any other kind of emotional distress. You can also call, text or chat 988 if you are worried about someone you care about who may need crisis support.</p>
    <h2>How It Works</h2>
    <h3> When you CALL 988</h3>
        <ul>
            <li>You will hear a greeting message and be given a choice of who to connect with. There are specially trained counselors available for Veterans, Spanish speakers, or LGBTQI+ youth and young adults.</li>
            <li>Your call is then routed to an official Lifeline crisis center based on your selections and area code.</li>
        </ul>
    <h3>When you TEXT 988</h3>
        <ul>
            <li>Your contact is routed to an official Lifeline crisis center based on your area code.</li>
        </ul>
    <h3>When you CHAT 988</h3>
        <ul>
            <li>You’ll get a pre-chat survey before connecting with a counselor to identify the main area of concern.</li>
            <li>Your contact is routed to an official Lifeline crisis center based on your IP address.</li>
        </ul>
    <h3>No matter WHICH WAY you reach out</h3>
        <p>A trained behavioral health crisis counselor will listen to you. They will work to understand how your problem is affecting you, provide personal support and get you the help you need. Follow up services will be offered.</p>
    <h2>When To Use 988 </h2>
    <h3>For Yourself</h3>
        <p>When you’re struggling with your mental health or substance use, it helps to have someone to talk to. If you’re in emotional distress, a mental health crisis or are considering suicide, 988 is here for you. It’s free, confidential, and available 24/7. </p>
    <h3>If You’re Concerned About Someone Else</h3>
        <p>It can be hard to see someone struggle with their mental health or substance use. If you know someone who shows any of these signs, reach out to 988 to get them the support they need:</p>
        <ul>
            <li>Talking about wanting to die or to kill themselves.</li>
            <li>Looking for a way to kill themselves, like searching online or buying a gun.</li>
            <li>Talking about feeling hopeless or having no reason to live.</li>
            <li>Talking about feeling trapped or in unbearable pain.</li>
            <li>Talking about being a burden to others.</li>
            <li>Increasing the use of alcohol or drugs.</li>
            <li>Acting anxious or agitated and behaving recklessly.</li>
            <li>Sleeping too little or too much.</li>
            <li>Withdrawing or isolating themselves.</li>
            <li>Showing rage or talking about seeking revenge.</li>
            <li>Extreme mood swings.</li>
        </ul>
    
</section>
