---
layout: omh.njk
title: What is 988?
omhLink: what-is-988.html
---
{% from './_includes/_components.njk' import hero,cards,stats,highlight,accordion  %}


{{ hero({
    title: "What is 988?",
    description:"988 is More than a Number – it’s a direct connection to compassionate and accessible care. ",
    image:"/omhweb/bootstrap/img/whatis988-hero.jpg",
    date:"",
    links: [
        {
            text:"Start a Chat",
            link:"https://988lifeline.org/chat/",
            arialabel:"Start a chat with the 988 service"
        }
    ]
    })
}}

<section class="nysds-page">
    <h2> About </h2>
        <p>The 988 Suicide & Crisis Lifeline connects you to trained crisis counselors 24/7. They can help anyone thinking about suicide, struggling with substance use, experiencing a mental health crisis, or any other kind of emotional distress. You can also call, text or chat 988 if you are worried about someone you care about who may need crisis support.</p>
    <h2>How It Works</h2>
    <h3> When you CALL 988</h3>
        <ul>
            <li>You will hear a greeting message and be given a choice of who to connect with. There are specially trained counselors available for Veterans, Spanish speakers, or LGBTQI+ youth and young adults.</li>
            <li>Your call is then routed to an official Lifeline crisis center based on your selections and area code.</li>
        </ul>
    <h3>When you TEXT 988</h3>
        <ul>
            <li>Your contact is routed to an official Lifeline crisis center based on your area code.</li>
        </ul>
    <h3>When you CHAT 988</h3>
        <ul>
            <li>You’ll get a pre-chat survey before connecting with a counselor to identify the main area of concern.</li>
            <li>Your contact is routed to an official Lifeline crisis center based on your IP address.</li>
        </ul>
    <h3>No matter WHICH WAY you reach out</h3>
        <p>A trained behavioral health crisis counselor will listen to you. They will work to understand how your problem is affecting you, provide personal support and get you the help you need. Follow up services will be offered.</p>
    <h2>When To Use 988 </h2>
        <p>Seeking help is more common than you think. Everyone experiences emotional distress – it’s okay to talk about it.</p>
    <h3>For Yourself</h3>
        <p>When you need someone to talk to – 988 is here for you.  Reasons to contact 988:  </p>
        <ul>
            <li>Thoughts of suicide</li>
            <li>Substance Use </li>
            <li>Worrying about Someone Else </li>
            <li>Eating and Body Image Issues</li>
            <li>Relationship Issues</li>
            <li>General Anxiety </li>
            <li>Abuse </li>
            <li>Trauma </li>
            <li>Loneliness</li>
            <li>Insomnia or Problems Sleeping</li>
            <li>Trouble Thinking Clearly</li>
            <li>Intense Mood Changes</li>
        </ul>
    <h3>If You’re Concerned About Someone Else</h3>
        <p>It can be hard to see someone struggle with their mental health or substance use. If you know someone who shows any of these signs, reach out to 988 to get them the support they need:</p>
        <ul>
            <li>Talking about wanting to die or to kill themselves.</li>
            <li>Looking for a way to kill themselves, like searching online or buying a gun.</li>
            <li>Talking about feeling hopeless or having no reason to live.</li>
            <li>Talking about feeling trapped or in unbearable pain.</li>
            <li>Talking about being a burden to others.</li>
            <li>Increasing the use of alcohol or drugs.</li>
            <li>Acting anxious or agitated and behaving recklessly.</li>
            <li>Sleeping too little or too much.</li>
            <li>Withdrawing or isolating themselves.</li>
            <li>Showing rage or talking about seeking revenge.</li>
            <li>Extreme mood swings.</li>
        </ul>
    
</section>


{{
    accordion({
        title:"",
        headline:"Frequently Asked Questions",
        items:[
            {
                target:"q1",
                title:"Who can contact 988?",
                description:"988 is for people of all ages, genders, sexes, ethnicities, races, religions, sexual orientations, and socioeconomic statuses. If you are a Veteran, speak Spanish, or identify as an LGBTQI+ youth or young adult, 988 has dedicated lines for you.",
                ctalink:"",
                ctatext:""
            },
            {
                target:"q2",
                title:"Are Services Offered in Other Languages? ",
                description:"The 988 Lifeline currently provides crisis center phone, text and chat services in English and Spanish. The 988 Lifeline uses Language Line Solutions to provide translation to callers in more than 240 additional languages.",
                ctalink:"",
                ctatext:""
            },
            {
                target:"q3",
                title:"What’s the Difference Between 988 and 911?",
                description:"The 988 Lifeline provides easier access to mental health and substance use crisis care through more than 200+ networks of crisis call, text, and chat centers. The goal of 988 is to meet the growing suicide and mental health-related crisis care needs.  The focus of 911 is to dispatch Emergency Medical Services, fire, and law enforcement as needed. ",
                ctalink:"",
                ctatext:""
            },
            {
                target:"q4",
                title:"Who answers when I call 988? ",
                description:"New York State has fifteen 988 Contact Centers dedicated to answering your call. Every call is routed by area code to make sure you can connect with the mental health resources that are available in your community.  ",
                ctalink:"",
                ctatext:""
            }
        ]
    })
}}