* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}



.hhs-dark {
    background-color: #43285D;
}
.hhs-mid {
    background-color: #8b7f9f;
}
.hhs-light {
    background-color: #d3d5e3;
}


@media (min-width: 1280px) {

}
