<script>
const template = document.createElement('template');
template.innerHTML = `
  <style>
    {%- include "./_cards.css" -%}
  </style>

  
  
`;

class NYSDSCards extends HTMLElement {
  connectedCallback() {
    this.attachShadow({mode: 'open'});
    this.shadowRoot.appendChild(template.content.cloneNode(true));
  }
}
window.customElements.define('nysds-cards', NYSDSCards);
</script>

<nysds-cards>
  {%- include "./_template.njk" -%}
</nysds-cards>