{% macro hero(params) %}
  {%- include "./hero/_template.njk" -%}
{% endmacro %}
{% macro cards(params) %}
  {%- include "./cards/_template.njk" -%}
{% endmacro %}
{% macro stats(params) %}
  {%- include "./stats/_template.njk" -%}
{% endmacro %}

