{% macro hero(params) %}
  {%- include "./hero/_template.njk" -%}
{% endmacro %}
{% macro cards(params) %}
  {%- include "./cards/_template.njk" -%}
{% endmacro %}
{% macro stats(params) %}
  {%- include "./stats/_template.njk" -%}
{% endmacro %}
{% macro highlight(params) %}
  {%- include "./highlight/_template.njk" -%}
{% endmacro %}
{% macro accordion(params) %}
  {%- include "./accordion/_template.njk" -%}
{% endmacro %}
{% macro documents(params) %}
  {%- include "./documents/_template.njk" -%}
{% endmacro %}


