
<style>
    .hhs-dark {
        background-color: #43285D;
    }
    .hhs-mid {
        background-color: #8b7f9f;
    }
    .hhs-light {
        background-color: #d3d5e3;
    }
</style>
<link href="/css/988-theme.css" rel="stylesheet">