<section class="nysds-hero-container {% if not params.image %} hhs-mid {%endif%}">
    <div class="nysds-hero-information hhs-dark">
        {% if params.date %}
            <p class="nysds-hero-date">{{params.date}}</p>
        {% endif %}
        <slot name="heading"></slot>
        <slot name="description"></slot>
        
        {% if params.links %}
        <ul class="nysds-hero-links-list">
            <slot name="link"></slot>
            
        </ul>
        {%endif%}
    </div>
</section>  