<script>
class NYSDSHero extends HTMLElement {
  connectedCallback() {
  }
}
window.customElements.define('nysds-hero', NYSDSHero);
</script>

<nysds-hero>
 <style>
      {%- include "./_hero.css" -%}
    </style>
    {%- include "./_template.njk" -%}
</nysds-hero>