<section class="hhs-light nysds-title-bar">
    <h2 class="nysds-title-bar-heading">
        <a href="/omhweb/crisis/988.html">
                <span class="nysds-988-logo"></span>
                <span class="sr-only">New York State 988 Home Logo</span>
        </a>
    </h2>

    <p><strong>Need Help Now? Dial or text <a href="tel: 988" class="nysds-title-bar-link">988</a> or <a href="https://988lifeline.org/chat/" class="nysds-title-bar-link">chat online</a></strong></p>
</section>